<mat-card>
    <mat-card-content>
        <div *ngIf="!batchOpen else box">
            <mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'PROCESSING.TITLE' | translate}}</mat-card-title>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="center center">{{'PROCESSING.NEW_BATCH' | translate}}</mat-card-subtitle>
            <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="20px">
                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                        <mat-label>{{'PROCESSING.BATCH' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ctrlBatch1" required>
                        <mat-error>{{'PROCESSING.INSERT_BATCH' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                        <mat-label>{{'PROCESSING.BATCH' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ctrlBatch2" required>
                        <mat-error>{{'PROCESSING.INSERT_BATCH' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                        <mat-label>{{'PROCESSING.BATCH' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ctrlBatch3" required>
                        <mat-error>{{'PROCESSING.INSERT_BATCH' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40" fxFlex.gt-md="40">
                        <mat-label>{{'PROCESSING.HARDWARE' | translate}}</mat-label>
                        <mat-select formControlName="ctrlHrdw">
                            <mat-option *ngFor="let hardware of allHardware" [value]="hardware">
                                {{'HARDWARE.' + hardware | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40" fxFlex.gt-md="40">
                        <mat-label>{{'PROCESSING.BOX' | translate}}</mat-label>
                        <input matInput type="number" formControlName="ctrlBoxNum" required>
                        <mat-error>{{'PROCESSING.INSERT_BOX' | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-button class="greenButton" [disabled]="formGroup.invalid" (click)="batchOpen = true">
                    {{'PROCESSING.OPEN_BATCH' | translate}}
                </button>
            </div>
        </div>
        <ng-template #box>
            <app-box></app-box>
        </ng-template>
    </mat-card-content>
</mat-card>