<mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'BOX.TITLE' | translate}}</mat-card-title>
<mat-card-content fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row wrap" fxLayoutAlign="start" *ngIf="batchOpen.length > 0">
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>Lot number</mat-card-title>
                <mat-card-subtitle>{{batchOpen[0].lotNumber}}</mat-card-subtitle>
                <mat-card-title>numbero scatole</mat-card-title>
                <mat-card-subtitle>{{batchOpen[0].boxNumber}}</mat-card-subtitle>
                <mat-card-title>obu per scatola</mat-card-title>
                <mat-card-subtitle>{{batchOpen[0].boxSize}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <span *ngIf="actualBox else batch">
                    <p>lotto: {{actualBox.lot.countClosedBoxPercentage}}% - scatole aperte:
                        {{actualBox.lot.countOpenBox}}</p>
                    <mat-progress-bar mode="determinate" value="{{actualBox.lot.countClosedBoxPercentage}}">
                    </mat-progress-bar>
                    <p>scatola {{actualBox.count}}%</p>
                    <mat-progress-bar mode="determinate" value="{{actualBox.count}}"></mat-progress-bar>
                </span>
                <ng-template #batch>
                    <p>lotto: {{batchOpen[0].countClosedBoxPercentage}}% - scatole aperte: {{batchOpen[0].countOpenBox}}
                    </p>
                    <mat-progress-bar mode="determinate" value="{{batchOpen[0].countClosedBoxPercentage}}">
                    </mat-progress-bar>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="!actualBox else open">
        <button mat-button class="greenButton" (click)="addBox();"> {{'BOX.ADD_BOX' | translate}}</button>
    </div>
    <ng-template #open>
        <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40" fxFlex.gt-md="40">
                    <mat-label>{{'BOX.OBUID' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlObuId" required>
                    <mat-error>{{'BOX.INSERT_OBUID' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40" fxFlex.gt-md="40">
                    <mat-label>{{'BOX.ICCID' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlIccId" required>
                    <mat-error>{{'BOX.INSERT_ICCID' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button class="greenButton" [disabled]="formGroup.invalid" (click)="addObu()">
                {{'BOX.ADD_OBU' | translate}}
            </button>
        </div>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                    <mat-panel-description>
                        Obu Inseriti
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="50px">
                    <div fxLayout="row" fxLayoutGap="20px" *ngFor="let item of listObu">
                        <mat-icon>tablet</mat-icon>
                        <h4>{{item.obuId}}</h4>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-template>
</mat-card-content>